<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <%- include link %>
    <%- include head %>
</head>
<body>
    <section class="page-header bg_img" data-background="./assets/images/banner/banner.jpg">
        <div class="container">
            <h3 class="title"><span class="shape-wrapper"><span class="shape"></span>关于我们<span class="shape"></span></span></h3>
        </div>
    </section>
    <!-- Page Header EndsHere -->
    <!-- Breadcrumb Section Starts Here -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <div class="breadcrumb-title">
                    <h6 class="title">关于我们</h6>
                </div>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.jsp">首页</a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Ends Here -->
    <!-- About Section Starts Here -->
    <section class="about-section padding-top">
        <div class="container">
            <div class="row about-section-wrapper">
                <div class="col-lg-6">
                    <div class="about-thumb">
                        <img src="assets/images/about/01.jpg" alt="about">
                        <div class="video-button">
                            <a href="https://www.bilibili.com/video/BV1Tx411h7wx?from=search&seid=8228685595144803862" data-rel="lightcase:myCollection"><img src="assets/images/overview/play-video.png" alt="overview"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content p-0">
                        <div class="about-section-header">
                            <h2 class="title">我们时刻准备着做到最好</h2>
                            <p>我们秉承“全时 全地 全心 全意”的服务理念，采取连锁经营模式，规范健身服务标准，实施聚集人才战略。 </p>
                            <ul>
                                <li>更好的选择</li>
                                <li>更好的生活习惯</li>
                                <li>更好的身体</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-24-none">
                <div class="col-lg-4 col-md-6">
                    <div class="about-info-item">
                        <h4 class="sub-title">训练</h4>
                        <p>训练，训练，再训练！这是健身的最基本的要素，当然也不是盲目疯狂训练，我们会为您量身打造科学的健身体系. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-info-item">
                        <h4 class="sub-title">练习</h4>
                        <p>想知道自己的身体素质究竟如何吗，来健身房测试一下就可以知道.科学的练习，是成就完美身材不可或缺的要素.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="about-info-item">
                        <h4 class="sub-title">俱乐部</h4>
                        <p>俱乐部，可以等于健身氛围.大家一起交流，一起锻炼，互相监督，平时交流经验，这才是我们健身房最有特色的地方，也是一个成功健身房的灵魂. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section Ends Here -->
    <!-- About Counter Section Starts Here -->
    <section class="about-counter padding-top padding-bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="about-counter-content">
                        <div class="section-header">
                            <h2 class="title">
                                	为什么选择健身
                            </h2>
                        </div>
                        <p>当今时代，在工作压力和学习压力之下，身体不断的匮乏，就连得来不易的周末休息日，大多数人也选择在家里休息，然而，好的身材和身体素质是需要用心去建立的.</p>
                        <ul>
                            <li>更好的选择</li>
                            <li>更好的生活习惯</li>
                            <li>更好的身体</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 ">
                    <div class="row mb-30-none">
                        <div class="col-6">
                            <div class="about-counter-item">
                                <h2 class="title"><span class="counter">546</span></h2>
                                <p>总订单</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-counter-item">
                                <h2 class="title"><span class="counter">41</span>k</h2>
                                <p>客户满意</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-counter-item">
                                <h2 class="title"><span class="counter">327</span></h2>
                                <p>完成课程</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="about-counter-item">
                                <h2 class="title"><span class="counter">15</span>年</h2>
                                <p>经验</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>