<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健身课程</title>
    <%- include link %>
    <%- include head %>
</head>
<body>
    <section class="page-header bg_img" data-background="./assets/images/banner/banner.jpg">
        <div class="container">
            <h3 class="title"><span class="shape-wrapper"><span class="shape"></span>健身课程<span class="shape"></span></span></h3>
        </div>
    </section>
    <!-- Page Header EndsHere -->
    <!-- Breadcrumb Section Starts Here -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <div class="breadcrumb-title">
                    <h6 class="title">课程</h6>
                </div>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.jsp">首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Ends Here -->
    <!-- Feature Section Starts Here -->
    <section class="feature-section padding-bottom padding-top">
        <div class="container">
            <div class="style-feature">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/1.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">有氧器械</a></h4>
                            <p>有氧运动持续进行较长时间，对有氧代谢的各个环节包括肺的摄取氧气，达到增强体力，防治多种心血管与呼吸道以及代谢性疾病的效果是健身运动和康复治疗的有效手段</p>
                        </div>
                    </div>
                </div>
               	<div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/2.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">组合器械</a></h4>
                            <p>初学者的肌肉力量和稳定性都比较差,所谓组合器械，就是事先预定好的只能沿着一定运动轨迹做一种或几种动作的器械，通常由支架、配重、座椅和握把组成，有绳索式和挂片式两类</p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/3.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">网球</a></h4>
                            <p>网球是一项隔着球网、用球拍击打橡胶制空心球的运动。现代网球起源于法国。网球又分为单打和双打。网球现在是一项奥运会比赛项目，适合社会各阶层与年龄段人群</p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/4.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">乒乓球</a></h4>
                            <p>乒乓球是一种世界流行的球类体育项目，也是中国国球。乒乓球运动是一项以技巧性为主，身体体能素质为辅的技能型项目，起源于英国</p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/5.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">瑜伽</a></h4>
                            <p>瑜伽姿势运用古老而易于掌握的技巧，改善人们生理、心理、情感和精神方面的能力，是一种达到身体、心灵与精神和谐统一的运动方式，以达至身心的合一</p>
                        </div>
                    </div>
                </div>  
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/6.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">游泳</a></h4>
                            <p>游泳是最受欢迎的健身运动项目之一。适当地进行游泳锻炼，不仅能塑造流畅和优美的体型，还能够增强心血管系统的机能，增强体质，提高协调性</p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/7.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">桌球</a></h4>
                            <p>台球是一项在国际上广泛流行的高雅室内体育运动，是一种用球杆在台上击球、依靠计算得分确定比赛胜负的室内娱乐体育项目</p>
                        </div>
                    </div>
                </div> 
          
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/8.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">太极</a></h4>
                            <p>太极是以中国传统儒、道哲学中的太极、阴阳辩证理念为核心思想，集颐养性情、强身健体、技击对抗等多种功能的一种内外兼修的汉族传统拳术</p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/feature/9.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">跆拳道</a></h4>
                            <p>跆拳道起源于朝鲜半岛，早期是由朝鲜三国时代的跆跟、花郎道演化而来的，韩国民间较普遍流行的一项技击术</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</body>
</html>