<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <header>
        <div class="header-top d-none d-xl-block">
            <div class="container">
                <div class="header-wrapper">
                    <div class="logo">
                        <a href="#0"><img src="assets/images/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-info">
                        <div class="info-item">
                            
                        </div>
                        <div class="info-item">
                            <div class="info-thumb">
                                <i class="flaticon-call"></i>
                                
                            </div>
                            <div class="info-content">
                                <h6 class="title">学号</h6>
                                <span>180110910712</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="info-thumb">
                                <i class="flaticon-email"></i>
                            </div>
                            <div class="info-content">
                                <h6 class="title">班级</h6>
                                <span>18软件2班</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="info-thumb">
                                <i class="flaticon-placeholder"></i>
                            </div>
                            <div class="info-content">
                                <h6 class="title">姓名</h6>
                                <span>黄诚浩</span>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-wrapper">
                    <div class="logo d-xl-none">
                        <a href="#0"><img src="assets/images/logo/logo-two.png"
                            alt="logo"></a>
                    </div>
                    <div class="header-bar d-xl-none">
                        <span></span> <span></span> <span></span>
                    </div>
                    <ul class="menu">
                        <li class="menu-item"><a href="/" class="menu-item-link">首页</a>
                        </li>
                        <li class="menu-item"><a href="/about"
                            class="menu-item-link">关于我们</a></li>
                        <li class="menu-item"><a href="/news"
                            class="menu-item-link">活动新闻</a></li>
                        <li class="menu-item"><a href="/places"
                            class="menu-item-link">健身场馆</a></li>
                        <li class="menu-item"><a href="/classes"
                            class="menu-item-link">健身课程</a></li>
                        <li class="menu-item"><a href="/trainers"
                            class="menu-item-link">健身教练</a></li>
                    </ul>
                    <div class="header-button-wrapper d-none d-xl-inline-flex">
                        
                        <a class="header-button" href="/login">登录/注册</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </header>
</head>
<body>
    
</body>
</html>