<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include link %>
    <%- include head %>
</head>
<body>
    <!-- Page Header Starts Here -->
    <section class="page-header bg_img" data-background="./assets/images/banner/banner.jpg">
        <div class="container">
            <h3 class="title"><span class="shape-wrapper"><span class="shape"></span>健身场馆<span class="shape"></span></span></h3>
        </div>
    </section>
    <!-- Page Header EndsHere -->
    <!-- Breadcrumb Section Starts Here -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <div class="breadcrumb-title">
                    <h6 class="title">场馆</h6>
                </div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/">首页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Ends Here -->
    <!-- Feature Section Starts Here -->
    <section class="feature-section padding-bottom padding-top">
        <div class="container">
            <div class="style-feature">
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/places/1.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">简易健身房</a></h4>
                            <p>价格：￥15/h</p>
                        </div>
                    </div>
                </div>
               	<div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/places/2.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">进阶健身房</a></h4>
                            <p>价格：￥30/h</p>
                        </div>
                    </div>
                </div>
                <div class="feature-item">
                    <div class="feature-thumb">
                        <a><img src="assets/images/places/3.jpg" alt="feature" style="width:318px;height:250px;"></a>
                    </div>
                    <div class="feature-content">
                        <div class="feature-header">
                            <h4 class="title"><a href="class-details.html">私人健身房</a></h4>
                            <p>价格：￥50/h</p>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
</body>
</html>