<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include link %>
    <%- include head %>
</head>
<body>
    <section class="page-header bg_img" data-background="./assets/images/banner/banner.jpg">
        <div class="container">
            <h3 class="title"><span class="shape-wrapper"><span class="shape"></span>健身教练<span
                        class="shape"></span></span></h3>
        </div>
    </section>
    <!-- Page Header EndsHere -->
    <!-- Breadcrumb Section Starts Here -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="breadcrumb-wrapper">
                <div class="breadcrumb-title">
                    <h6 class="title">教练</h6>
                </div>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.jsp">首页</a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Ends Here -->
    <!-- Trainer Section Starts Here -->
    <section class="expert-trainers padding-bottom padding-top">
        <div class="container">
            <div class="expert-item-area">
                <div class="expert-item">
                    <div class="expert-thumb">
                        <a><img src="assets/images/trainers/03.jpg" alt="trainers"></a>
                    </div>
                    <div class="expert-content">
                        <div class="expert-info">
                            <h4 class="sub-title"><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp叶奈法</a></h4>
                            
                        </div>
                        <a class="expert-link" href="#0">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="expert-item">
                    <div class="expert-thumb">
                        <a><img src="assets/images/trainers/02.jpg" alt="trainers"></a>
                    </div>
                    <div class="expert-content">
                        <div class="expert-info">
                            <h4 class="sub-title"><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp威廉</a></h4>
                        </div>
                        <a class="expert-link" href="#0">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="expert-item">
                    <div class="expert-thumb">
                        <a><img src="assets/images/trainers/01.jpg" alt="trainers"></a>
                    </div>
                    <div class="expert-content">
                        <div class="expert-info">
                            <h4 class="sub-title"><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp爱丽丝</a></h4>
                        </div>
                        <a class="expert-link" href="#0">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="expert-item">
                    <div class="expert-thumb">
                        <a><img src="assets/images/trainers/04.jpg" alt="trainers"></a>
                    </div>
                    <div class="expert-content">
                        <div class="expert-info">
                            <h4 class="sub-title"><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp罗伯特</a></h4>
                        </div>
                        <a class="expert-link" href="#0">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="expert-item">
                    <div class="expert-thumb">
                        <a><img src="assets/images/trainers/05.jpg" alt="trainers"></a>
                    </div>
                    <div class="expert-content">
                        <div class="expert-info">
                            <h4 class="sub-title"><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp玛丽</a></h4>
                        </div>
                        <a class="expert-link" href="#0">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
                <div class="expert-item">
                    <div class="expert-thumb">
                        <a><img src="assets/images/trainers/06.jpg" alt="trainers"></a>
                    </div>
                    <div class="expert-content">
                        <div class="expert-info">
                            <h4 class="sub-title"><a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp道金斯</a></h4>
                        </div>
                        <a class="expert-link" href="#0">
                            <i class="fas fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>
        
        </div>
    </section>
</body>
</html>